In [1]:
import pandas as pd
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv('general_data.csv')
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
y = df[df['Attrition']=='Yes']
n = df[df['Attrition']=='No']

In [4]:
ttest_ind(y.Age,n.Age)

Ttest_indResult(statistic=-10.70661860061757, pvalue=1.9968016158894556e-26)

In [5]:
mannwhitneyu(y.DistanceFromHome, n.DistanceFromHome)

MannwhitneyuResult(statistic=1312110.0, pvalue=0.4629185205822659)

Since the pvalue is greater then 0.05 so there is no significant value of DistanceFromHome w.r.t Attrition

In [6]:
mannwhitneyu(y.PercentSalaryHike, n.PercentSalaryHike)

MannwhitneyuResult(statistic=1250640.0, pvalue=0.018660129917539733)

Since pvalue is less then 0.05, We are neglecting this

In [8]:
mannwhitneyu(y.TotalWorkingYears, n.TotalWorkingYears)

MannwhitneyuResult(statistic=909954.0, pvalue=2.8897554531400447e-39)

Since pvalue is greater then 0.05, We are neglecting this

In [9]:
mannwhitneyu(y.TrainingTimesLastYear, n.TrainingTimesLastYear)

MannwhitneyuResult(statistic=1238940.0, pvalue=0.005167954938699059)

Since pvalue is less then 0.05, We are neglecting this

In [10]:
mannwhitneyu(y.YearsAtCompany, n.YearsAtCompany)

MannwhitneyuResult(statistic=923238.0, pvalue=6.047598261692858e-37)

Since pvalue is greater then 0.05, We are neglecting this

In [11]:
mannwhitneyu(y.YearsSinceLastPromotion, n.YearsSinceLastPromotion)

MannwhitneyuResult(statistic=1209366.0, pvalue=0.0002021180346719736)


Since pvalue is less then 0.05, We are neglecting this

In [12]:
mannwhitneyu(y.YearsWithCurrManager, n.YearsWithCurrManager)

MannwhitneyuResult(statistic=957253.5, pvalue=1.2365483142169853e-31)

Since pvalue is greater then 0.05, We are neglecting this