In [1]:
import pandas as pd
from scipy.stats import chi2_contingency, pearsonr

In [2]:
df = pd.read_csv('general_data.csv')

In [3]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [4]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
df.dropna(inplace=True)

In [7]:
df['Attrition'] = df.Attrition.map({'No':0 , 'Yes':1})

In [8]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [9]:
pearsonr(df.Attrition, df.Age)

(-0.1583986795409671, 5.1265982193780794e-26)

Here the Age is not corelated to the Attrition Rate

In [11]:
chi2_contingency(pd.crosstab(df.Attrition, df.BusinessTravel))

(70.07594084831366,
 6.07019702736392e-16,
 2,
 array([[ 375.92332268,  692.26951164, 2608.80716568],
        [  72.07667732,  132.73048836,  500.19283432]]))

Both are not correlated

In [12]:
chi2_contingency(pd.crosstab(df.Attrition, df.Department))

(25.89432541916022,
 2.382970570769315e-06,
 2,
 array([[ 156.91442264, 2404.06321314, 1116.02236422],
        [  30.08557736,  460.93678686,  213.97763578]]))

Not Correlated

In [15]:
pearsonr(df.Attrition, df.DistanceFromHome)

(-0.009448638515156248, 0.5317715668019558)

Its Negatively Correlated

In [17]:
chi2_contingency(pd.crosstab(df.Attrition, df.Education))

(6.2735361781270615,
 0.17963050984273224,
 4,
 array([[ 426.27019626,  706.53445915, 1427.33386581,  996.86809676,
          119.99338202],
        [  81.72980374,  135.46554085,  273.66613419,  191.13190324,
           23.00661798]]))

Both are correlated

In [18]:
chi2_contingency(pd.crosstab(df.Attrition, df.EducationField))

(43.132860148900384,
 3.472896220587872e-08,
 5,
 array([[  67.12916476, 1515.44089457,  398.57941579, 1162.17366499,
          204.74395253,  328.93290735],
        [  12.87083524,  290.55910543,   76.42058421,  222.82633501,
           39.25604747,   63.06709265]]))

Here EducationField has a relation with Attrition

In [20]:
chi2_contingency(pd.crosstab(df.Attrition, df.Gender))

(1.3825823839528295,
 0.23966176275638887,
 1,
 array([[1473.48516659, 2203.51483341],
        [ 282.51483341,  422.48516659]]))

Here Gender is correlated with Attrition rate

In [21]:
chi2_contingency(pd.crosstab(df.Attrition, df.JobLevel))

(7.036480574687178,
 0.13397290697032432,
 4,
 array([[1358.52647193, 1334.1921497 ,  546.26357827,  266.83842994,
          171.17937015],
        [ 260.47352807,  255.8078503 ,  104.73642173,   51.16157006,
           32.82062985]]))

Both are Correlated

In [23]:
chi2_contingency(pd.crosstab(df.Attrition, df.JobRole))

(21.893724958847,
 0.005116592717526599,
 8,
 array([[326.41556367, 130.90187129, 648.63555454, 255.92994067,
         359.98014605, 198.87015062, 731.70789594, 818.13669557,
         206.42218165],
        [ 62.58443633,  25.09812871, 124.36444546,  49.07005933,
          69.01985395,  38.12984938, 140.29210406, 156.86330443,
          39.57781835]]))

Its not correlated

In [24]:
chi2_contingency(pd.crosstab(df.Attrition, df.MaritalStatus))

(133.85785802925156,
 8.573051828219379e-30,
 2,
 array([[ 813.94112277, 1684.10292104, 1178.95595618],
        [ 156.05887723,  322.89707896,  226.04404382]]))

Its not related

In [26]:
pearsonr(df.Attrition, df.MonthlyIncome)

(-0.030160293808460664, 0.045890862744719166)

Not Related

In [28]:
pearsonr(df.Attrition, df.NumCompaniesWorked)

(0.04283056724472088, 0.004572057121620842)

Not Related

In [29]:
chi2_contingency(pd.crosstab(df.Attrition, df.StockOptionLevel))

(3.444801419724394,
 0.32799207189761653,
 3,
 array([[1577.53537198, 1490.26745778,  396.06207211,  213.13509813],
        [ 302.46462802,  285.73254222,   75.93792789,   40.86490187]]))

Its related

In [30]:
pearsonr(df.Attrition, df.TotalWorkingYears)

(-0.1696699168472392, 1.1645434967091854e-29)

Not correlated

In [31]:
pearsonr(df.Attrition, df.TrainingTimesLastYear)

(-0.04758573693081737, 0.0016276603635477602)

Not correlated

In [32]:
pearsonr(df.Attrition, df.YearsAtCompany)

(-0.1330026184252154, 9.476118084836507e-19)

Not Correlated

In [33]:
pearsonr(df.Attrition, df.YearsSinceLastPromotion)

(-0.03142315056330995, 0.03752293607395154)

Not Correlated

In [34]:
pearsonr(df.Attrition, df.YearsWithCurrManager)

(-0.15469153690287274, 7.105369646771178e-25)

Not Correlated

In [35]:
pearsonr(df.Attrition, df.PercentSalaryHike)

(0.03315303713546665, 0.028192446935106235)

Not Correlated